<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="../../../Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../Content/navbar_default.css" rel="stylesheet" type="text/css" />
    <link href="../../../Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../Content/main.css" rel="stylesheet" type="text/css" />
    <script src="../../../Scripts/jquery.js" type="text/javascript"></script>
    <script src="../../../Scripts/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container"> 
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Booking Online</a>
            </div>
        </div>
    </nav>
    @RenderBody()
    <div id="footer" class="">
        <div class="divide-line"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4>Contact us</h4>
                    <ul>
                        <li><i class="fa fa-envelope-open" aria-hidden="true"></i>zbj830130@hotmail.com</li>
                        <li><i class="fa fa-phone-square" aria-hidden="true"></i>0221550977</li>
                    </ul>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <h4>About us</h4>
                    <ul>
                        <li>Who are we</li>
                        <li>What do we sell</li>
                    </ul>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <h4>Send message</h4>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="email" class="form-control" id="inputSubject" placeholder="Subject">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" rows="3" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="divide-line"></div>
        <div class="container" style="position:relative;">
            <div class="social-footer">
                <h4>Find us on social media</h4>
                <ul>
                    <li><i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i></li>
                    <li><i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i></li>
                    <li><i class="fa fa-weixin fa-4x" aria-hidden="true"></i></li>
                </ul>
            </div>
            <div class="copyright">
                <address>
                  © 2017 Booking Online - ALL RIGHTS RESERVED
                </address>
            </div>
        </div>
    </div>
    <input id="callbackUrl" type="hidden" value='@ViewData["callbackUrl"]' />
</body>
</html>
