@model Model.RestaurantOnline.OrderResultModel
@{
    Layout = "~/Views/Shared/_OrderProgress.cshtml";
}
<link href="/Content/bootstrap-directional-buttons.css" rel="stylesheet" type="text/css" />
<link href="/Content/OrderCompleted.css" rel="stylesheet" type="text/css" />
<div class='orderResult div-width-90'>
	@if(Model.IsSuccess == true){
	    <div class="alert alert-success rightMessage width98" role="alert">
	        <span class="resultTitle">Congratulations, Your order has been submitted successfully</span>
			<br>
			<span class="resultMessage">Order number is:</span><span class="orderInfo">@Model.OrderCode</span>
			<span class="resultMessage">and order amount is:</span><span class="orderInfo">$@Model.OrderAmount</span>
		</div>
    }
	else{
		<div class="alert alert-danger rightMessage width98" role="alert">
	        <span class="resultTitle">Sorry, Order failed</span>
	        <br>
	        <span class="resultMessage">Please, Re Order </span><a href="/Home/ConfirmOrder" class="hrefReorder">Re Order Now &gt;&gt;</a>
	    </div>
	}
<script type="text/javascript">
    $(function(){
        caculateProgressStep(3);
    });
</script>
</div>
