@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/orderList.css" rel="stylesheet" type="text/css" />
<div class="div-width-90">
    <div class="myOrderTitle">
        My Orders
	</div>
	<div class="orderList">
		<ul id="myTab" class="nav nav-tabs">
		    <li class="active">
		        <a id="tabAllOrders" href="#allOrders" data-toggle="tab">
		             All Orders
		        </a>
		    </li>
		    <li>
			    <a id="tabReOrders" href="#reserved" data-toggle="tab">Reserved</a>
			</li>
			<li>
                <a id="tabCaOrders" href="#canceled" data-toggle="tab">Canceled</a>
            </li>
			<li>
                <a id="tabFiOrders" href="#finished" data-toggle="tab">Finished</a>
            </li>
		</ul>
		<div class="tab-content orderContainer">
		    <div class="tab-pane fade in active" id="allOrders">
				   
		    </div>
		    <div class="tab-pane fade" id="reserved">
		        
		    </div>
		    <div class="tab-pane fade" id="canceled">
		        
		    </div>
		    <div class="tab-pane fade" id="finished">
		        
		    </div>
		</div>
	</div>
</div>
<div id="push"></div>
<script src="../../../Scripts/orderList.js" type="text/javascript"></script>